---
import Layout from "../../layouts/Layout.astro";
import me from "../../assets/me.png";
import WorkExperience from "@/components/WorkExperience.astro";
 import wguIcon from '../assets/wgu.png';
   import sansIcon from '../../assets/sans.jpg'
   import dmaccIcon from '../../assets/dmacc.jpg'; 
   import { GraduationCap, Award, Calendar } from '@lucide/astro';
import Education from "@/components/Education.astro";
import SkillsSection from "@/components/SkillsSection.astro";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);






const education = [
  
  
  
  
  
  
  
  {
    degree: 'Bachelor of Applied Cybersecurity',
    institution: 'SANS Technical Institute',
    period: '2025 - Present',
    description: 'Expected graduation 2027',
    icon : sansIcon,
  },
  {
    degree: 'Associate of Applied Science in Information Technology Network Administration',
    institution: 'Des Moines Area Community College',
    period: '2014 - 2016',
    description: 'Linux emphasis',
    icon: dmaccIcon,
  },
];


  
---

<Layout title="About Me" description="About me page. Skills, work history, and what I do outside of tech.">

  <div class="relative flex h-full w-full flex-col overflow-x-hidden border-b border-[#10191d] shadow-md shadow-[#0a0a0a] antialiased md:items-center md:justify-center sm:overflow-visible">
  <div class="p-4 mx-auto relative z-10 w-full pt-10 md:pt-0">

    <section id="aboutme" class="flex flex-col justify-center relative py-6 overflow-visible">

      <!-- <div class="max-w-5xl mx-auto px-8 sm:px-12 lg:px-16 relative z-50 h-full flex justify-center"> -->
    <div class="flex flex-col lg:flex-row justify-center gap-12 lg:gap-20 relative z-50 w-full max-w-5xl mx-auto p-4">
<div class="mx-auto max-w-4xl px-6 pt-16 text-gray-300">
    <div class="flex flex-col md:flex-row items-start md:items-center justify-between mb-5 gap-8">
<img 
        src={me.src ?? me}
        alt="Ryan Wilson"
        class="md:hidden md:static h-32 w-32 md:h-40 md:w-40 rounded-full object-cover border border-white/10 shadow-xl opacity-90 hover:opacity-100 transition"
      />
      <div class="flex-1">
        <h1 class="text-4xl font-bold mb-6 text-(--primary-blue)">About Me</h1>

        <p class="text-lg leading-relaxed text-gray-400 max-w-2xl">
          I’m a network engineer, full-stack developer, and cybersecurity student focused on
          building secure, scalable, high-performance systems. My background spans network and systems engineering,
          application development, infrastructure, and cloud platforms. I bring a security-first mindset 
          to everything I build.
        </p>
      </div>

      <img 
        src={me.src ?? me}
        alt="Ryan Wilson"
        class="hidden md:inline-block md:static h-32 w-32 md:h-40 md:w-40 rounded-full object-cover border-3 border-(--primary-blue)/60 hover:border-(--primary-purple)/60 shadow-xl opacity-90 hover:opacity-100 transition"
      />

    </div>
    <!-- </div> -->
     
      </section>
      
      </div>

      </div>
      <SkillsSection />


<div class="border-b-1 border-[#10191d] shadow-md shadow-[#0a0a0a]">
<div class="mx-auto max-w-4xl px-6 py-12 text-gray-300">

    <WorkExperience />
    <Education />
    
    <h2 class="text-2xl font-semibold mt-12 mb-6 text-(--primary-blue)">Outside of Tech</h2>
    <p class="text-lg text-gray-400">
      Outside of tech I enjoy spending time with friends, pool league, photography, and spontaneous road trips.
    </p>



  <script>
  document.querySelectorAll(".resume-row").forEach((row) => {
    row.addEventListener("click", () => {
      const content = row.querySelector(".resume-content") as HTMLElement;

      if (!content) return;

      if (content.style.maxHeight) {
        content.style.maxHeight = "";
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  });
</script>

</Layout>
