---
import Layout from "@/layouts/Layout.astro"
import GenericButton from "@/components/ui/GenericButton.astro"

import troll from '@/assets/Trollface.jpg'


---

<Layout title="Access Denied">
    <div class="w-full h-svh flex flex-col items-center justify-center text-muted-foreground mt-12 overflow-y-hidden">
        
     
        
        <img src="/Trollface.png" width={300} height={300} class="rounded-lg"/>
        <h1 class="text-9xl">Nice try</h1>
        <h2 class="text-[3rem]">That is not allowed here.</h2>
    </div>
</Layout>
