---

import { Construction } from '@lucide/astro';
---

<div id="comingSoon" class="flex flex-col justify-center items-center max-w-2xl mx-auto">
<Construction class="w-10 h-10 bg-neutral-400/20 p-2 mb-1 rounded-md text-[#fafafa]" />
<h1 class="text-[#d4d4d4] text-lg pb-1">Coming Soon!</h1>
<p class="text-md text-[#a1A1A1] max-w-lg">Some parts of this website are still under construction. <br/> Check back later when this section is updated.</p>
</div>