---
import texturedbg from '/src/assets/grunge.jpg'; 
import PatternOverlay from "./PatternOverlay.astro"; 

---


<div class="invisible md:visible fixed min-h-full w-14 bg-[#151515] absolute  shadow-md glow-primary-bg-green right-80 top-0 bottom-0 -z-90">
  <PatternOverlay pattern="diagonal" opacity={0.1} color="green" className="z-[-95]" />

</div>