---
interface Props {
  size?: 'sm' | 'md' | 'lg';
  class?: string;
}

const { size = 'md', class: className = '' } = Astro.props;

const sizeClasses = {
  sm: 'text-2xl font-semibold text-[rgb(var(--primary-blue))]',
  md: 'text-4xl font-bold text-[rgb(var(--primary-blue))]',
  lg: 'text-2xl sm:text-5xl md:text-5xl text-[rgb(var(--primary-blue))]',
};
---

<h1 class:list={['', sizeClasses[size], className]}>
  <slot />
</h1>
